<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Sign Up</title>
    {{ bootstrap.load_css() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/create_account.css') }}">
</head>
<body>



    <div class="vertical-box">

        <h2> Create Account</h2>

        <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo">

        <form method="post" action="/create_account">
            <label for="username">Username:</label>
            <input type="text" name="username" required>
    
            <label for="Password">Password:</label>
            <input type="text" name="Password" required>
    
            <button type="submit" class="btn btn-dark"> Create Account </button>
        </form>
        <button class="btn btn-dark">  <a href="/"> Back to Login </a>  </button>
    </div>
    
</body>
</html>