body {
    background: linear-gradient(0.25turn, #3f87a6, #19a5a5, rgb(128, 60, 246));
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    margin: 0;
}

div {
    text-align: center;
}

.vertical-box {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px; /* Adjust the max-width as needed */
    text-align: center;
}

h2 {
    margin-bottom: 20px; /* Add margin between the label and the image */
    color: #343a40; /* Set the color of the label */
}

img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px; /* Add margin to create space between the image and the form */
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label, input, button {
    margin-bottom: 10px; /* Add margin between form elements */
}

a{
    text-decoration: none;
    color: white;
}